#root {
  max-height: 100vh;
  overflow: hidden;
}

.header-last-message-date {
  font-weight: bold;
}

.message-list {
  position: relative;
  min-height: 100%;
}

.message-user-name {
  margin-right: 8px;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.message-input {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.message-input-text {
  flex-grow: 1;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 80px;
  height: 80px;
}
.preloader:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: preloader 1.2s linear infinite;
}
@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
